/module_2/llm_hosting/models/tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf
/module_2/llm_hosting/models/*.gguf
*.gguf

*.zip
module_3/cleanup.py
module_3/app/scripts/update_gre_from_urls.py
*.pdf
*.pyc
*.png
*.jpeg
module_4/docs/_build/
*.venv
*.pytest_cache
